<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.4" name="t2linux-Fedora" displayname="t2linux Fedora">
	<description type="system">
		<author>Sharpened Blade</author>
		<contact>sharpenedblade@proton.me</contact>
		<specification>t2linux Fedora</specification>
	</description>
	<preferences>
		<version>0.0.0</version>
		<packagemanager>dnf</packagemanager>
		<locale>en_US</locale>
		<keytable>us</keytable>
		<timezone>UTC</timezone>
		<release-version>39</release-version>
	</preferences>
	<include from="this://./repositories/core.xml"/>
	<include from="this://./repositories/t2linux.xml"/>
	<include from="this://./components/boot.xml"/>
	<include from="this://./components/desktop-environments.xml"/>
	<include from="this://./components/liveinstall.xml"/>
	<include from="this://./components/users.xml"/>
	<include from="this://./components/t2linux.xml"/>
	<include from="this://./platforms/cloud.xml"/>
	<include from="this://./platforms/container.xml"/>
	<include from="this://./platforms/vagrant.xml"/>
	<include from="this://./platforms/workstation.xml"/>
	<packages type="bootstrap">
		<package name="basesystem"/>
		<package name="filesystem"/>
	</packages>
</image>
